* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: linear-gradient(to bottom, #78938a, #92ba92);
  min-height: 100vh;
  background-repeat: no-repeat;
}

.list_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.text_head {
  color: #dddddd;
}

.form_box > input {
  width: 300px;
  height: 50px;
  border: none;
  outline: none;
  background-color: #f1ddbf;
  border-radius: 3px;
  padding-left: 16px;
}

input::placeholder {
  color: #733c3c;
}

.form_box > button {
  height: 50px;
  width: 100px;
  margin-left: 16px;
  background-color: #525e75;
  border: none;
  outline: none;
  border-radius: 3px;
  color: #fff;
}

.form_box > button:hover {
  background-color: #dddddd;
  color: #525e75;
  cursor: pointer;
}

.items_todo {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
}

.item_todo {
  display: flex;
  justify-content: space-between;
  width: 400px;
  height: 50px;
  background-color: #fff;
  align-items: center;
  border-radius: 3px;
  padding: 0 16px;
  margin-bottom: 16px;
}

.del_icon {
  cursor: pointer;
}

.box_card {
  background-color: #525050;
  min-height: 400px;
  margin: 0 16px;
  border-radius: 8px;
  padding: 16px;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.8);
}

@media (max-width: 468px) {
  .text_head {
    font-size: 20px;
  }

  .item_todo {
    width: 250px;
  }

  .form_box > input {
    width: 200px;
    margin-bottom: 16px;
  }

  .form_box > button {
    width: 80px;
  }
}
